extends layout

block content
	div.callout
		h3 New in town? Looking for something to do?
		p Moving to a new place can be hard. Aside from meeting people, it can be a challenge to just figure out what to do on a lazy afternoon. We take the guess work out of free by suggesting itineraries based on what you like to do. So, sign up and get ready to explore your community.
		div(style="text-align: center;")
			a(href="/user/register" class="btn btn-success") Sign up