doctype html
html(style='height: 100%')
	head

		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		script(type='text/javascript', src='/js/jquery-1.10.2.js')
		script(type='text/javascript', src='/js/bootstrap.js')
		link(type='stylesheet', href='/css/bootstrap.css')

		style(type='text/css').
			
			body {
				height: 100%;
				margin: 0;
				padding: 0
			}
			#map-canvas {
				height: 80%;
				width: 60%;
				margin-left: 5%;
				margin-top: 5%;
				display: inline-block;
			}
			#itinerary {
				height: 80%;
				margin-top: 5%;
				display: inline-block;
				vertical-align: top;
				margin-left: 5%;
				width: 20%;
			}
	body
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYb9WeDx9yd4CQd_e6lcb3NueQyqw-7Wo&sensor=false')
		script(type='text/javascript', src='/js/map.js')

		
		div(id='map-canvas')
		div(id='itinerary') Your itinerary
			div(id="directions_panel")
