extends layout

block content
	div.callout



	script(type='text/javascript').
		$.ajax({
			url: "/itinerary/list",
			cache: false
		}).done(function(response){
			console.log(response);
			var markup = "";
			for(var i in response){
				masterItinerary = response[i];
				markup += renderItinerary(masterItinerary);
			}
			$('.callout').html(markup);
		});

		function renderItinerary (masterItinerary){
			var itinerary = masterItinerary.itinerary;
			var markup = '<div id="' + masterItinerary._id + '">';
			markup += '<h3>';
			var da = new Date(Date.parse(masterItinerary.updated));
			markup += 'Itinerary from ' + da.toLocaleDateString();
			markup += '</h3>';
			for(var i = 0; i < itinerary.length; i++){
				var landmark = itinerary[i];

				markup +=    '	<p>';
				markup += 	 		getFlavorText(landmark);
				markup +=	 '  </p>';
				
			}
			markup += '<button class="btn btn-success" style="margin-right: 10px" onclick="viewItinerary(\'' + masterItinerary._id + '\'); return false;"> View Itinerary </button>';
			markup += '<button class="btn btn-danger" onclick="deleteItinerary(\'' + masterItinerary._id + '\'); return false;"> Delete Itinerary </button>';
			markup += '<hr />';
			markup +=    '</div>';
			//markup +=    '<br />';

			return markup;	
		}
		function viewItinerary(id){
			location.href = ('http://' + location.host + '/map?id=' + id);
		}
		function deleteItinerary(id){
			$.ajax({
				url: "/itinerary/delete?id=" + id,
				cache: false,
				type: 'POST'
			}).done(function(response){
				$('#' + id).fadeOut('slow');
			});

		}
		function getFlavorText(landmark) {
			var cat = landmark.yelpData.metacategory;
			var flavorText;
			if(cat == "restaurants"){
				flavorText = "Enjoy a nice meal at ";
			}
			if(cat == "parks"){
				flavorText = "Take a stroll through ";
			}
			if(cat == "bars"){
				flavorText = "Order a brew (or two!) at ";
			}
			flavorText += '<a target="_blank" href="' + landmark.yelpData.url + '">';
			flavorText = flavorText.concat(landmark.yelpData.name);
			flavorText += '</a>';
			return flavorText;
		}