extends layout

block content
	div.callout
		if(msg != "")
			div(class="alert alert-danger")
				| #{msg}
		form.form-signin(action='/user/register', method='post')
			h2.form-signin-heading Register
			input(type='text', name='username', placeholder='Username', class='input-block-level')
			input(type='password', name='password', placeholder='Password', class='input-block-level')
			| <br /> <br />
			input(type='submit', class='btn btn-large btn-primary' value='Register')
